# -*- coding: utf-8 -*-
# 工程预装模块
# 需要额外的python包，可直接在文件后面添加
# 请确保指定的包和版本号，可通过pip安装

# blueapps requirement
--extra-index-url https://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/
--find-links=packages
-r requirements_services.txt

#redis==3.2.0
Django==2.2.6
#celery==4.4.0
eventlet==0.26.1
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-cors-headers==3.5.0

mysqlclient==1.4.4
MarkupSafe==1.1.1
Mako==1.0.6
requests==2.22.0
python-json-logger==0.1.7
whitenoise==3.3.0
six==1.11.0



redis==2.10.5
blueapps==3.3.2
gunicorn==19.6.0
blueking-component-ieod>=0.0.90
bkoauth>=0.0.22
pyhocon
gevent==1.3.7
numpy==1.16.3
pandas==0.24.2
PySnooper==0.1.0
influxdb>=5.2.3
iso8601==0.1.12
djangorestframework==3.11.0
confluent-kafka==0.11.6
django-celery==3.2.1
celery==3.1.25
django-filter==2.2.0
bkstorages==0.1.3
openpyxl==3.0.3
djangorestframework-jwt==1.11.0
elasticsearch==5.4.0
elasticsearch-dsl==5.4.0
croniter>=0.3.34
bkapigw-tgpa-task-apigateway==2020120810321002
Pebble==4.6.0
PyMySQL==0.6.7
django-jsonfield-backport==1.0.0
requests==2.22.0
PyJWT==1.7.1
cryptography>=1.5.0
python-dateutil==2.8.1
jsonfield==3.1.0
hdfs==2.6.0
guppy3